
<div class="span2"></div>
<div class="span8">
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#/stages" data-toggle="tab">Stages</a></li>
    <li><a href="#/storage" data-toggle="tab">Storage</a></li>
    <li><a href="#/environment" data-toggle="tab">Environment</a></li>
    <li><a href="#/executors" data-toggle="tab">Executors</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="stages">
      hello
    </div>
    
    
    
  </div>
</div>
</div>


