<div class="span14">
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#/stages" data-toggle="tab">Queries</a></li>
    <li><a href="#/storage" data-toggle="tab">Storage</a></li>
    <li><a href="#/workers" data-toggle="tab">Workers</a></li>
    <li><a href="#/executers" data-toggle="tab">Executors</a></li>
    <li ><a href="#/errors" data-toggle="tab">Performance  <span ng-if = "(checkshuffleover(completedstages))||(checkshuffleover(failedstages))||(checkshuffleover(activestages))||(timeover(activestages))||(timeover(completedstages))||(timeover(failedstages))" class="badge">{{checkworkers(workers).length+checkshuffleover(activestages).length+checkshuffleover(completedstages).length+checkshuffleover(failedstages).length+timeover(activestages).length+timeover(completedstages).length+timeover(failedstages).length}}</span></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="stages">
    <ul class="nav nav-tabs">
  <li class="active">
    <a href="#/stage">Queries <span ng-if="(stagesnew)" class="badge">{{stagesnew.length}}</span></a>
  </li>
  <li ><a href="#/jobs">Stages <span ng-if="(getonly(stage,id))" class="badge">{{getonly(stage,id).length}}</span></a></li>
  <li ><a href="#/querystructure">Query Structure</a></li>
  

  
</ul>
           <table align= "center" class="table table-striped">
          <thead>
	  <th> <a href="#/stage" style="color:black;"ng-click = "order='jobid';reverse=!reverse" align= "center"> Id </a></th>
	  <th align= "center"> <a style="color:black;"href="#/stage" ng-click = "order='description';reverse=!reverse" align= "center">Description</a></th>
	  <th align= "center"> <a style="color:black;"href="#/stage" ng-click = "order='numStages';reverse=!reverse" align= "center"> Stages </a></th>
	  <th align= "center"> <a style="color:black;"href="#/stage" ng-click = "order='';reverse=!reverse" align= "center">Status</a> </th>
	  <th align= "center"> <a style="color:black;"href="#/stage" ng-click = "order='submissiontime';reverse=!reverse" align= "center">Submitted Time</a></th>
	  <th align= "center"><a style="color:black;"href="#/stage" ng-click = "order='duration';reverse=!reverse" align= "center"> Duration</a></th>
	  <th align= "center"><a style="color:black;"href="#/stage" ng-click = "order='read';reverse=!reverse" align= "center"> Shuffle Read</a></th>
	  <th align= "center"><a style="color:black;"href="#/stage" ng-click = "order='write';reverse=!reverse" align= "center"> Shuffle Write</a></th>
	   <th> <a style="color:black;"href="#/stage" ng-click = "order='';reverse=!reverse" align= "center">Errors </a></th>
	  
	  </thead>
        <tr ng-repeat = "stage in stagesnew | filter:query |  orderBy : order:!reverse">
	   <td align= "center">{{stage.jobid}}</td>
	   <td ng-click ="updateid(stage.jobid)" ><a href="#/jobs">{{stage.description}}</a></td>
	   <td align= "center">{{stage.numStages}}</td>
	   <td  align= "center"  width="110px">
<div class="progress progress-success progress-striped" style="text-align:center">
  <div class="bar"  style="width: {{getval(stage.completedTasks,stage.numTasks)}}; color:black; ">{{stage.completedStages}}/{{stage.numStages}}</div> 
  
</div></td>
	   <td align= "center">{{timeconv(stage.submissiontime)}}</td>
	    <td align= "center"> {{gettimediff(stage.completiontime,stage.submissiontime)}}</td>
	    <td align= "center">{{stage.shuffleRead}}</td>
	    <td align= "center">{{stage.shuffleWrite}}</td>
	    <td></td>

	   </tr>
	    
          </table>
          
       
      
    </div>
    
    
  </div>
</div>
</div>
</body>
